$primary: #3b3bf8;
$primary2: #078fff;
$secondary: #1d1d1d;
$success: #16be16;
$success2: rgb(63, 224, 63);
$warning: #efff0e;
$warning2: #ffff3c;
$danger: #fc1515fb;
$danger2: #f51a3e;
$info: skyblue;
$info2: rgb(166, 211, 230);
$light: #ffffffcc;
$lighter: beige;
$dark: #0f0f0f;
$darker: #0e0d0d;
$white: white;
$whiter: white;